@use "~/src/scss/colors.scss" as *;


.form{
width: 41.5%;
/* padding: 0 .625rem; */
> div {
        &:nth-child(4){
           > div {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .3125rem;
            width: 100%;
           }
            > span {
                /* width: 1.875rem; */
                text-align: center;
                position: absolute !important;
                bottom: 1rem !important;
                right: 5.8125rem !important;
                @media (max-width : 41.6875rem) {
                        right: 4rem !important;
                     }
            }

            i{
                color: $success;
                margin: 0 0 1em;
                width: 1.875rem;
                height: auto;
            }
        }
}

}