@use "~/src/scss/colors.scss" as *;


.gallery{
 display: flex;
 @media (max-width : 48rem) {
    display: block;
 }
}

.principal{
    width: 50%;
    padding-right: .625rem;

 @media (max-width : 48rem) {
    width: 100%;
    padding-right: 0 !important;
 }

    > img {
        border-radius: 1rem;
        height: auto;
        object-fit: cover;

        &:hover{
            opacity: .6;
            cursor: pointer;
        }
    }
}

.grid{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: .625rem;

@media (max-width : 48rem) {
    margin-top: 1.25rem;
    width: 100%;
    padding: 0 !important;
 }

    > div {
        width: 50%;
        
        &:nth-child(1){
            padding: 0 .625rem .625rem 0;
        }
                &:nth-child(2){
            padding: 0 0 .625rem .625rem ;
        }
                &:nth-child(3){
            padding: .625rem .625rem 0 0;
        }
                &:nth-child(4){
            padding: .625rem 0 0 .625rem ;
        }
    
    > img {
        border-radius: 1rem;

        &:hover{
            opacity: .6;
            cursor: pointer;
        }
    }
    }
}


.carouselContainer{
    height: 100%;
   

    > div {
          height: 100%;
         
           @media (max-width : 57.5rem) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;           
           }

        > div {
            width: 80%;
            height: calc(100% - 6.25rem);
            margin: 0 auto;
            border-radius: 1.25rem;

            @media (max-width : 57.5rem) {
                width: 100%;
                height: auto;
            }
        }
    }
    .dots{
        display: flex !important;
        align-items: flex-end;
        height: 6.25rem;
        justify-content: center;
            @media (max-width : 57.5rem) {
               padding: 0;
               width: inherit;
               height: 0;   
            }
        > li {
          height: 100%;
          width: 9.375rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin : 0 .3125rem;
            @media (max-width : 57.5rem) {
               height: 2.8125rem; 
                        
            }         

          img{
            border-radius: .625rem;
              &:hover{
               cursor: pointer;
               opacity: .6;
              }
          }

        }
    }
}