@use "~/src/scss/colors.scss" as *;



.signIn{
    width: 70%;

    @media (max-width : 57.5rem) {
           width: 100%; 
           padding: .9375rem;  

           > h3{
            text-align: center;
           }
    }

    > h3 {
        margin-bottom: 1.25rem;
    }

    .actions{
        margin-top: .625rem;
        text-align: center;
    }
}

